body{
  background-color: lightblue;
}

h1{
  color: green;
  font-size: 90px;
  text-decoration:dashed underline;
}
h2{
  color: blueviolet;
  font-size: 40px;
}

.small{
  font-size: 12px;
}

span{
  font-style: italic;
}

h2 span {
  text-decoration: line-through;
}